body {
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#calc{
    background-color: gray;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#screen{
    background: orchid;
    width: 430px;
    height: 100px;
    
}

